
@{
    ViewData["Title"] = "VerifyEmail";
}

<div class="container" style="text-align:center">
    <div class="alert alert-info" role="alert">
        Please check your email to verify your account.
    </div>
</div>

